{% load static %}

	<!-- Main Footer -->
    <footer class="main-footer style-two">
		<div class="pattern-layer-two" style="background-image: url({% static 'images/background/pattern-2.png' %})"></div>
		<div class="pattern-layer-three" style="background-image: url({% static 'images/icons/pattern-7.png' %})"></div>
		<div class="auto-container">
			
			<!-- Upper Box -->
			<div class="upper-box">
				<div class="row clearfix">
				
					<!-- Title Column -->
					<div class="title-column col-lg-8 col-md-12 col-sm-12">
						<div class="inner-column">
							<h2>Ready to chase your dream?</h2>
							<div class="text">We are available 24/7 to answer any questions you may have.</div>
						</div>
					</div>
					
					<!-- Button Column -->
					<div class="button-column col-lg-4 col-md-12 col-sm-12">
						<div class="inner-column">
							<a href="tel:+919745926142" class="theme-btn btn-style-two"><span class="txt">Contact Now</span></a>
						</div>
					</div>
					
				</div>
			</div>
			
        	<!-- Widgets Section -->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="{% static 'images/logo3.png' %}" alt="" /></a>
                                    </div>
									<div class="text">Transforming Futures through Education: The Cloud Way Approach to Education Consultancy.</div>
									<div class="social-box">
										<span>Follow Us</span>
										<a href="https://www.facebook.com/profile.php?id=100077204529315" class="fab fa-facebook-f" target="_blank"></a>
										<a href="https://www.instagram.com/cloudway_in/" class="fab fa-instagram" target="_blank"></a>
										<a href="https://www.linkedin.com/" class="fab fa-linkedin" target="_blank"></a>
									</div>
								</div>
							</div>
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget links-widget">
									<h6>Quick Links</h6>
									<ul class="page-links">
										<li><a href="index-2.html#">Home</a></li>
										<li><a href="">About us</a></li>
										<li><a href="">Services</a></li>
										<li><a href="">Moments</a></li>
										<li><a href="">Contact Us</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget links-widget">
									<h6>Services</h6>
									<ul class="page-links">
										<li><a href="service.html">Initial Consultation</a></li>
										<li><a href="service.html">Comprehensive Guidance</a></li>
										<li><a href="service.html">Immigration Support</a></li>
										<li><a href="service.html">Departure</a></li>
										<li><a href="service.html">Support</a></li>
									</ul>
								</div>
							</div>
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget info-widget">
									<h6>Contact Us</h6>
									<ul class="contact-list">
										<li>24/7 Support</li>
										<li><span>Phone: </span><a href="tel:+919745926142">+91 9745926142</a></li>
										<li><span>Email: </span><a href="mailto:Info@cloudwayeducation.com">Info@cloudwayeducation.com</a></li>
										<li><span>Address: </span><a href="https://goo.gl/maps/72Sf5dLmTYi3bsmz6" target="_blank">CLOUDWAY GLOBAL TECH PVT. LTD.
											A&S TOWER 1ST FLOOR, KALLUMTHAZHUM, KOLLAM, KERALA  
											PIN - 691004</a>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		<!-- Copy Right -->
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="copyright">&copy; 2023 Cloud Way. All Rights Reserved | <a href="https://batheco.com/" target="_blank">Developed By Batheco.</a></div>
			</div>
		</div>
	</footer>
	<!-- End Main Footer -->